<footer class="bg-primary text-white pt-3 pb-3">
    <div class="mx-auto">
        <ul style="margin-left: 41vw;">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['Politicas']">Politicas de Privacidad</a>
            </li>
            <li>
                <img style="width: 20vw;" src="https://firebasestorage.googleapis.com/v0/b/mochulas-44b2e.appspot.com/o/Formas-de-pago-banner-1024x256.png?alt=media&token=e2b19c51-d2d3-467f-b4ea-1028daa80725">
            </li>
        </ul>
    </div>
    <p class="direccion">Copyright ©2021 Autor <a href="">@itzcyn2829</a></p>
    <p class="direccion">
        <small class="text-muted">
            <a href="https://g.page/LosHeroesTizayuca?share">
                Octava cerrada miguel hidalgo edificio 112 depto 653 los héroes Tizayuca sadasi
            </a>
        </small>
    </p>
</footer>